@charset "utf-8";
/* CSS Document */
*{font-family:'微软雅黑'; font-size:12px;}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ul , li, ol, fieldset, form, label, legend,a,table {margin: 0;padding: 0;text-decoration:none; list-style:none;  }
select, input{padding:0;}
a {outline: none;}
a:active {star:expression_r(this.onFocus=this.blur());}
a:focus { outline:0; }
table{table-layout:fixed;word-wrap:break-word; border:none;}
i{font-style:normal}
.fl{ float: left;}
.fr{ float: right;}
.cb{ clear: both;}
.w1180{ width: 1180px;margin: 0px auto;}
.ml20{margin-left: 20px;}
.block{display: block;}
.margin0{margin:0px auto}
.mt50{margin-top: 50px;}
.mb50{ margin-bottom: 50px;}
.tc{text-align: center;}
.f14{font-size: 14px;}
.fb{font-weight: bold;}
.c323232{color: #323232;}
.oh{overflow: hidden;}
.cb{clear: both;}
@media (max-width:1200px){
	body{width: 1920px !important;}
	#naviSlider{left:917px !important; width: 120px !important;}
}

.head_bg{height: 100px;}
.head_bg .logo{margin-top: 20px;cursor: pointer;}
.head_bg .slogen{font-size: 24px;color: #0099ff;display: block;border-left: 1px solid #cccccc;padding-left: 19px;margin-left: 20px; margin-top: 30px;}
.nav{ float: right;}
.nav li{ float: left;width: 127px;}
.nav li .a1{display:block;padding: 38px 0px;text-align: center; color: #666666;font-size: 18px;position: relative;}
.nav li .a1 i{ background: url(../img/allimg.png) no-repeat 0px 0px;width: 9px;height: 4px;display: inline-block;margin-bottom: 4px;margin-left: 5px;}
.nav li .a1:hover{color: #1c9dd8;border-bottom: 3px solid #1c9dd8;}
.nav li .a1:hover i{background: url(../img/allimg.png) no-repeat -9px 0px;}
.nav li .a1 span{display:none;width: 100%;position: absolute;top: 100px;left: 0px;z-index: 100;}
.nav li .a1 span b{height: 30px;width:100%;color:#ffffff;display: block;line-height: 30px;text-align: center;background-color: #173158;filter:alpha(opacity=80); /*支持 IE 浏览器*/
-moz-opacity:0.80; /*支持 FireFox 浏览器*/
opacity:0.80; /*支持 Chrome, Opera, Safari 等浏览器*/font-weight: 100;}
.nav li .a1 span b:hover{background-color: #1c9dd8;}
.nav li .a1 span b .twomenu{position: absolute;top: 0;display: none; left: 126px;width: 130px;background-color: #173158;filter:alpha(opacity=80); /*支持 IE 浏览器*/
-moz-opacity:0.80; /*支持 FireFox 浏览器*/
opacity:0.80; /*支持 Chrome, Opera, Safari 等浏览器*/font-weight: 100;}
.nav li .a1 span b .twomenu li{text-align: center !important;width: 130px;color: #ffffff;}
.nav li .a1 span b .twomenu li:hover{background-color: #1c9dd8 !important;}
.nav li .a1 span b:hover .twomenu{display: block;}
.nav li .a1:hover span{display:block;}

.smlnav{width: 100%;height: 130px;background: url(../img/smlnavbg.png) no-repeat;}
.smlnav ul{padding-top: 30px;}
.smlnav ul li{float: left;font-size: 18px;color:#ffffff ;padding-right: 63px;}

.smlnav h1{color: #ffffff;font-size: 30px;font-weight: normal;padding-top: 18px;}
.index_mk h1{font-size: 40px;text-align: center;color: #232b2e;font-weight: 100;}
.index_mk h2{font-size: 30px;text-align: center;color: #232b2e;font-weight: 100;}
.index_mk h3{font-size: 24px;text-align: center;color: #232b2e;font-weight: 100;}
.index_mk h4{font-size: 24px;text-align: left;color: #232b2e;font-weight: 100;}
.index_mk h5{font-size: 18px;color: #666666;text-align: center;font-weight: 100;}

.index_mk .presstable{width: 1180px;border-collapse: collapse;border: 1px solid #eeeeee;margin-top: 28px;}
.index_mk .presstable tr{height: 60px;}
.index_mk .presstable tr td,.index_mk .presstable tr th{border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;border-collapse: collapse;color: #6e6e6e;}
.index_mk .presstable tr td{font-size: 16px;width: 14.29%;text-align: center;}
.index_mk .presstable tr th{font-size: 18px;font-weight: 100;background-color: #f4f4f4;}
.index_mk .presstable tr:nth-child(odd){background: #fafafa;}
.index_mk .morerecord{display: block;margin: 0px auto;margin-top: 40px;}

.index_mk .goodtable{margin-top: 35px;width: 1180px;display: block;}
.index_mk .goodtable tr{width: 100%;height: 177px;}
.index_mk .goodtable tr td{width: 396px;text-align: center;}
.index_mk .goodtable tr td a{display: block;margin: 0px auto;width: 372px;height: 155px;}
.index_mk .goodtable tr td a:hover img{display: none;}
.index_mk .goodtable tr td a:hover{background-color: #099BDE;}
.index_mk .goodtable tr td a h4{display:none;font-size: 18px;color: #fff;text-align: center;font-weight: 100;}
.index_mk .goodtable tr td a p{display: none;padding:5px 15px;font-size: 12px;color: #ffffff;text-align: center;}
.index_mk .goodtable tr td a:hover h4{display: block;padding-top: 32px;}
.index_mk .goodtable tr td a:hover p{display: block;}

 .word1{ background-color: #f7f7f7; width: 100%;overflow: hidden;padding:25px 0px;}
 .word1 ul li{ width: 33.333%;float: left;}
 .word1 ul li h4{font-size: 18px;font-weight: normal;}
 .word1 ul li h4 .i1{ background: url(../img/allimg.png) no-repeat -121px -44px;width: 26px;height: 28px;display: block;float:left;}
 .word1 ul li h4 .i2{ background: url(../img/allimg.png) no-repeat -149px -44px;width: 30px;height: 28px;display: block;float:left;}
 .word1 ul li h4 .i3{ background: url(../img/allimg.png) no-repeat -182px -44px;width: 26px;height: 28px;display: block;float:left;}
 .word1 ul li p{ font-size: 14px; color: #6f6f6f;margin-top: 30px;line-height: 24px;margin:30px 30px 0px 0px}

.index_mk .centerp{font-size: 18px;color: #6f6f6f;margin-top: 50px;}
.index_mk .centerp .i1{background: url(../img/allimg.png) no-repeat -105px -57px;display: block;width: 14px;height: 14px;float: left;margin-top: 6px;}
.record{ width: 100%;height: 120px;background-color: #1e8cc2;}
.record .cbg{ background: url(../img/recordbg.png) no-repeat;width: 1180px;height: 120px;margin: 0px auto;}
.record .cbg ul{ width: 1180px;}
.record .cbg ul li{ float: left;width: 295px;}
.record .cbg ul li img{display: block;float: left;width: 80px;height: 80px;margin-top: 20px;}
.record .cbg ul li p{ width: 200px;height: 40px;float: right;font-size: 14px;color: #ffffff;margin-top: 40px;}


.tedian{width: 100%;height: 210px;background-color: #e9e9e9;margin-top: 44px;}
.tedian ul{ overflow: hidden;}
.tedian ul li{width: 196.666px;float: left;margin-top: 50px;}
.tedian ul li span{display: block;position:relative;margin:0px auto;background-color: #ffffff;width: 80px;height: 80px;border-radius: 50px;}
.tedian ul li span i{position: absolute;left: 28%; top:27%;display: block;width: 36px;height: 36px; background: url(../img/allimg.png) no-repeat;}
.tedian ul li span .i1{ background-position: 0px -6px;}
.tedian ul li span .i2{ background-position: -42px -6px;}
.tedian ul li span .i3{ background-position: -85px -6px;}
.tedian ul li span .i4{ background-position: -128px -6px;}
.tedian ul li span .i5{ background-position: -173px -6px;}
.tedian ul li span .i6{ background-position: -215px -6px;width: 40px;}
.tedian ul li p{text-align: center;font-size: 16px;color: #000000;margin-top: 20px;}

.footer{width: 100%;background-color: #252525;}
.footer .mulu{padding: 40px 0px;overflow: hidden;}
.footer .mulu .ul1{ float: left;margin-left:10px;border-right:1px solid #3b3b3b;width: 111px;overflow: hidden;height: 150px;}
.footer .mulu .ul1 .lih{color: #ffffff;font-size: 14px;margin-bottom: 10px;}
.footer .mulu .ul1 li a{color: #666666;font-size: 12px;line-height: 20px;}
.footer .mulu .ul1 li{border-right:1px solid #161616;width: 110px;text-align: center;}

.footer .mulu .ul2{ float: left;margin-left:10px;width: 208px;overflow: hidden;height: 140px;}
.footer .mulu .ul2 .lih2{color: #ffffff;font-size: 14px;margin-bottom: 10px;}

.footer .mulu .ul2 li .i1{width: 17px;height: 17px;background: url(../img/allimg.png) no-repeat 0px -42px;display: block;float: left;}
.footer .mulu .ul2 li .i2{width: 17px;height: 17px;background: url(../img/allimg.png) no-repeat 0px -58px;display: block;float: left;}
.footer .mulu .ul2 li a{color: #666666;font-size: 12px;line-height: 20px;}
.footer .mulu .ul2 li .weibo{width: 24px;height: 24px;background: url(../img/allimg.png) no-repeat -17px -42px;display: block;float:left;margin-bottom: 10px;}
.footer .mulu .ul2 li .weixin{width: 24px;height: 24px;background: url(../img/allimg.png) no-repeat -42px -42px;display: block;float:left;margin-right: 10px;}
.footer .mulu .ul2 li .fenxiang{width: 24px;height: 24px;background: url(../img/allimg.png) no-repeat -68px -42px;display: block;clear: both;}
.footer .mulu .erweima{width: 130px; float: left;}
.footer .mulu .erweima img{width: 100px;height: 100px;display: block;margin: 0px auto;}
.footer .mulu .erweima p{text-align: center;font-size: 12px;color: #666666;margin-top: 10px;}
.footer .copyrightbg{background-color: #000000;width: 100%;}
.footer .copyrightbg .content{padding: 68px 0px;}
.footer .copyrightbg .content p{text-align: center;color: #666666;font-size: 14px;}
.footer .copyrightbg .content .anquan{display: block;margin: 0px auto;width: 343px;height: 38px;margin-top: 22px;}



.about_pt{width: 1180px;margin-top: 30px;overflow: hidden;}
.about_pt li{float: left;width: 393px;height: 240px;}
.about_pt .li1{ background-color: #ddf0f9;}
.about_pt .li2{ background-color: #cde9f6;}
.about_pt .li3{ background-color: #bae1f3;}
.about_pt li p{padding:40px 20px;font-size: 14px;line-height: 25px;color: #333333;}

.about_wz{ margin-top: 44px;clear: both;margin-bottom: 120px;overflow: hidden;}
.about_left{background: url(../img/ab_left.png) no-repeat;width: 590px;height: 340px; float: left;}
.about_right{background: url(../img/ab_right.png) no-repeat;width: 590px;height: 340px; float: left;}
.about_word{padding: 100px 0px;}
.about_word h1{font-size: 40px;color: #ffffff;text-align: center;font-weight: 100;}
.about_word p{font-size: 18px;color: #ffffff;line-height: 30px;text-align: center;}


.yw1_p{padding: 20px;font-size: 18px;color: #666666;line-height: 35px;}
.yw1_h1{color: #1c9dd8;font-size: 24px;font-weight: 100;margin-top: 10px;}
.yw1_img{margin:0px auto;display:block;margin-top: 20px;width: 1180px;margin-bottom: 50px;}

.lxfs{overflow: hidden;margin-top: 65px;}
.lxfs li{float: left;width: 378px;height: 140px;border: 1px solid #e5e5e5;}
.lxfs li img{display: block;float: left;margin-top: 30px;margin-left: 30px;}
.lxfs li table{width: 203px;margin-top: 30px;margin-left: 30px;float: left;padding-top: 20px;}
.lxfs li table tr td{ vertical-align: top;font-size: 14px;color: #969696;}

.lx_more{width: 1180px; border-collapse: collapse;margin-top: 10px;}
.lx_more tr td{width: 25%;border: 1px solid #e5e5e5;text-align: center;font-size: 14px;height: 140px;color: #969696;text-align: left;padding-left: 40px;}
.map{margin-bottom: 115px;}

.dt_list{margin-top: 30px;}
.dt_list li{border-bottom: 1px solid #eaeaea;}
.dt_list li a{display: block;padding: 22px 15px;color: #333333;font-size: 14px;}
.dt_list li a span{float: right;font-size: 14px;}
.dt_list li a i{float: left; display: block;width: 7px;height: 7px;border-radius: 50px;background-color: #ffffff;border:1px solid #333333;margin-top: 6px;margin-right: 10px;}
.dt_list li a:hover{color: #099bde;}
.dt_list li a:hover i{background-color: #099bde;border: 1px solid #099bde;}

.ep-pages{padding:50px 12px;clear:both;text-align:center;
font-family:Arial, "\5B8B\4F53", sans-serif;font-size:14px;vertical-align:top} 
.ep-pages a, .ep-pages span{display:inline-block;height:30px;width:30px;line-height:30px;color: #999999;
margin:5px 1px 0 0;background:#fff;border:1px solid #ffffff;overflow:hidden;vertical-align:top;border-radius: 50px;} 
.ep-pages a:hover{background:#099bde;border:1px solid #099bde;text-decoration:none} 
.ep-pages a, .ep-pages a:visited{color:#999999} 
.ep-pages a:hover, .ep-pages a:active{color:#ffffff} 
.ep-pages .current{background:#099bde;border:1px solid #099bde;color:#ffffff} 
.ep-pages a.current, .ep-pages a.current:visited{color:#ffffff} 
.ep-pages a.current:hover, .ep-pages a.current:active{color:#ffffff} 
.ep-pages-ctrl{font-size:14px} 
.ep-pages-e5e5e5{color:#e5e5e5} 
.ep-pages-all{font-size:12px;vertical-align:top} 

.dtcontent h1{font-size: 24px;color: #333333;text-align: center; width: 1180px;border-bottom: 1px solid #eaeaea;padding:25px 0;font-weight: 100;overflow: hidden;}
.dtcontent .backlist{display: block;padding:8px 20px; font-size: 14px;border: 1px solid #e5e5e5; float: right;text-align: center;color: #666666;}
.dtcontent p{font-size: 14px;line-height: 32px;padding:20px 30px;color: #333333;}
.dtcontent p span{display: block;color: #099bde;}

.yw2_img{margin:0px auto;display:block;margin-top: 20px;width: 1180px;margin-bottom: 50px;}


.safe{margin-top: 35px;overflow: hidden;}
.safe li{width: 280px;height: 280px;float: left;margin-left: 20px;}
.safe li a{width: 278px;height: 278px;display: block;background-color: #ffffff;border: 1px solid #e0e0e0;}
.safe li a:hover{border: 1px solid #1c9dd8;background-color: #1c9dd8;}
.safe li a img{margin:0px auto;display: block;margin-top: 40px;width: 80px;height: 80px;}
.safe li a h2{font-size: 20px;font-weight: 100;color: #333333;padding-top:33px ;text-align: center;padding-bottom: 5px;}
.safe li a p{font-size: 12px;color: #666666;text-align: center;line-height: 18px;}
.safe li a:hover h2,.safe li a:hover p{color: #ffffff;}
.safeimg{margin-top: 35px;margin-bottom: 80px;overflow: hidden;}
.safeimg li{ width: 380px;height: 190px; float: left;position: relative;margin-left: 20px;}
.safeimg li img{ width: 380px;height: 190px;}
.safeimg li a{width: 380px;height: 50px;background-color: #0d222f;filter:alpha(opacity=70); /*支持 IE 浏览器*/
-moz-opacity:0.70; /*支持 FireFox 浏览器*/
opacity:0.70; /*支持 Chrome, Opera, Safari 等浏览器*/text-align: center;color: #ffffff;font-size: 14px;position: absolute;bottom: 0;left: 0;line-height: 50px;}
.safeimg li a:hover{filter:alpha(opacity=100); /*支持 IE 浏览器*/
-moz-opacity:1.0; /*支持 FireFox 浏览器*/
opacity:1.0;background-color: #0c95d3;}
.jgrz{background: url(../img/jgrzbg.png) no-repeat;width: 100%;height: 512px;overflow: hidden;margin-bottom: 55px;}


.ruzhu1 {
    background-color: #ffffff;
    height: 413px;
    padding: 0 40px 40px;
    position: relative;
    right: auto;
    top: auto;
    width: 357px;
    margin: 0px auto;
    border: 2px solid #e9e9e9;
    margin-top: 55px;
}
.ruzhu1 img{display: block;margin: 0px auto;margin-top: 80px;}
.zxns_word{border-top: 1px solid #dee5e8;padding:40px}
.zxns_word h3{font-size: 18px;color: #1d9dd8;font-weight: 100;}
.zxns_word h3 i{ display: block;float: left;background: url(../img/allimg.png) no-repeat -96px -42px;width: 6px;height: 12px;margin-top: 10px;}
.zxns_word p{color: #7f7f7f;font-size: 14px;line-height: 28px;}
.zxns_word p i{display: block;width: 7px;height: 7px;border-radius: 50px;background-color: #bfbfbf;float: left;margin-top: 10px;}
.zxns_title{font-size: 24px;font-weight: 100;padding:16px 60px;border-top: 1px solid #dee5e8;color: #63b3e0;width: 1060px;margin: 0px auto;}



.subNavBox{width:1180px;border-top:solid 1px #e5e3da;margin:0px auto;}
.subNav{border-bottom:1px solid #e5e3da;cursor:pointer;}
.subNav p{font-size:20px;color:#63b3e0;width: 100px;margin: 0px 62px;padding:26px 0}
.subNav p i{ background: url(../img/allimg.png) no-repeat -105px -42px;display: block; float: right;width: 12px;height: 12px;margin-top: 10px;}
.subNav:hover{color:#63b3e0;}
.currentDd{color:#63b3e0}
.currentDt{border-bottom: 3px solid #099bde;}
.navContent{display: none;border-bottom:solid 1px #e5e3da;}
.navContent li a{display:block;height:28px;text-align:center;font-size:14px;line-height:28px;color:#333}
.navContent li a:hover{color:#ffffff;background-color:#277fc2}
.rightul{width: 580px;margin-left: 20px;}
.rightul li{font-size: 18px;line-height: 42px;color: #6f6f6f;}

.left_nav{width: 188px;float: left;}
.left_nav li a{width: 188px;height: 52px;background: url(../img/leftnavbg.png) no-repeat;display: block;font-size: 16px;color: #666666; line-height: 50px;padding-left: 55px;}
.left_nav li a:hover{background: url(../img/leftnavbg2.png) no-repeat;color: #ffffff;}

.rightcontent{width: 920px;float: right;}
.rightcontent .p1{font-size: 16px;color: #666666;line-height: 24px;}
.rightcontent .box{background-color: #f7f7f7;padding: 30px;margin-top: 20px;}
.rightcontent .box .h1{color: #099bde;font-size: 16px;font-weight: normal;text-align: left;}
.rightcontent .box p{font-size: 14px;color: #666666;}

.rightcontent .box2{background-color: #ffffff;border-top:1px solid #ededed;border-bottom:1px solid #ededed;padding: 30px;}
.rightcontent .box2 .h1{color: #099bde;font-size: 16px;font-weight: normal;text-align: left;}
.rightcontent .box2 p{font-size: 14px;color: #666666;}


.form tr td .i1{background: url(../img/allimg.png) no-repeat -212px -37px;width: 40px;height: 40px;display: block;float: left;}
.form tr td .i2{background: url(../img/allimg.png) no-repeat -255px -37px;width: 40px;height: 40px;display: block;float: left;}
.form tr td .input1{ width: 360px;height: 40px;border: 1px solid #b7b7b7;border-radius: 3px;font-size: 14px;padding-left: 30px;}
.form tr td .input2{ width: 200px;height: 40px;border: 1px solid #b7b7b7;border-radius: 3px;font-size: 14px;padding-left: 10px;float: left;}
.form tr td{font-size: 14px;position: relative;}
.form tr{height: 120px;}
.form tr td .p1{font-size: 12px;color: #868686;line-height: 20px;margin-top: 10px;height: 35px;}
.form tr td label{display: block; margin-top: 27px;}
.form tr td .label1 i{background: url(../img/allimg.png) no-repeat -212px -53px;width: 18px;height: 18px;display: block;float: left;}
.form tr td .label2 i{background: url(../img/allimg.png) no-repeat -255px -37px;width: 18px;height: 18px;display: block;float: left;}
.form tr td .label2 p{font-size: 14px;color: #ff491f; float: left;margin-left: 16px;}
.form tr td .checkbox{ display: block;float: left;margin-right: 80px;margin-top:25px;font-size: 14px;color: #868686;}
.form tr td .select1{ width: 180px;height: 40px;border:1px solid #b7b7b7;padding-left: 10px;font-size: 14px;color: #868686;}
.form tr td .textarea{ width: 390px;height: 145px;border:1px solid #b7b7b7;border-radius: 3px;}
.form tr td .name,.person,.personnb,.homenb,.dea{ width: 18px;height: 18px; background: url(../img/allimg.png) no-repeat;display: block;position: absolute;top: 29px;left: 8px;}
.form tr td .name{ background-position: 0px -78px;}
.form tr td .person{ background-position: -52px -78px;}
.form tr td .personnb{ background-position: -118px -78px;}
.form tr td .homenb{ background-position: -166px -78px;}
.form tr td .dea{ background-position: -198px -78px;}
.topnav{ display: block;}
.topnav li{float: left;}
.topnav li a{ background: url(../img/leftnavbg.png) no-repeat;width: 160px;height: 50px;display: block;color: #969696;font-size: 18px;line-height: 50px;text-align: center;}
.topnav li .a1{background: url(../img/leftnavbg2.png) no-repeat !important;color: #ffffff;}
.rightcontent .table-list{border-collapse: collapse;}
.rightcontent .table-list li{/*line-height: 70px;*/}
.rightcontent .table-list li,.rightcontent .table-list tr{border-top:1px solid #dee5e8;border-bottom:1px solid #dee5e8;height: 75px;margin-top: -1px;width: 1180px;}
/*.rightcontent .table-list li span{color: #666666;
    display: block;
    float: left;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12.5%;
}*/
.rightcontent .table-list tr th{color: #666666;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
     vertical-align: top;
     padding-top: 20px;
}
.rightcontent .table-list li span{display: block;float: left;text-align: center;font-size: 14px;color: #666666;text-align: center;position: relative;padding-top: 20px;}
.rightcontent .table-list li span:nth-child(1){width: 7%; word-wrap: break-word;}
.rightcontent .table-list li span:nth-child(2){width: 13%;}
.rightcontent .table-list li span:nth-child(3){width: 8%;}
.rightcontent .table-list li span:nth-child(4){width: 12%;}
.rightcontent .table-list li span:nth-child(5){width: 12%;}
.rightcontent .table-list li span:nth-child(6){width: 22%;word-wrap: break-word;}
.rightcontent .table-list li span:nth-child(7){width: 10%;}
.rightcontent .table-list li span:nth-child(8){width: 8%;}
.rightcontent .table-list li span:nth-child(9){width: 8%;}


.rightcontent .table-list li>span{width: 7%; word-wrap: break-word;}
.rightcontent .table-list li>span + span{width: 13%;}
.rightcontent .table-list li>span + span + span{width: 8%;}
.rightcontent .table-list li>span + span + span + span{width: 12%;}
.rightcontent .table-list li>span + span + span + span + span{width: 12%;}
.rightcontent .table-list li>span + span + span + span + span + span{width: 22%;word-wrap: break-word;}
.rightcontent .table-list li>span + span + span + span + span + span + span{width: 10%;}
.rightcontent .table-list li>span + span + span + span + span + span + span + span{width: 8%;}
.rightcontent .table-list li>span + span + span + span + span + span + span + span + span{width: 8%;}


.rightcontent .table-list tr th{font-size: 16px;color: #666666;font-weight: normal;}
.rightcontent .table-list tr td{font-size: 14px;color: #666666;text-align: center;}
.rightcontent .table-list li span .b{
	display: none;
	font-weight: normal;
	width:80px;

	height:auto;
	position: absolute;
	bottom: 60px;
	left:-10px;
	border: 2px solid #c9c9c9;
	border-radius: 3px;
	padding:10px;
	background-color: #ffffff;z-index: 100000;word-wrap: break-word;line-height: 20px;}
	.rightcontent .table-list li span .b .i1{ display: block;width: 35px;height: 24px;background:url(../img/jt.png) no-repeat;position:absolute;bottom: -20px;left: 32%;}
.rightcontent .table-list li span:hover .b{display: block;}
.jgrz .backindex{background: url(../img/backindex.png) no-repeat;width: 134px;height: 45px; display: block;margin: 0px auto;margin-top: 20px;}


